.DS_Store.DS_Store
.DS_Store
src/.DS_Store
.DS_Store
.DS_Store
.DS_Store
src/.DS_Store
.DS_Store
.DS_Store
.DS_Store
build/built-jar.properties
build/classes/ngo_2024/AndraUppgifter.class
build/classes/ngo_2024/Validering.class
